<div class="command-panel">
    <div>Work Item</div>
    <button (click)="showCreateModal()" nz-button nzType="primary">Add+</button>
</div>
<div class="container">
    <nz-table #nzTable [nzData]="workItems" nzBordered nzSize="small" nzTableLayout="fixed">
        <thead>
        <tr>
            <th nzWidth="60px">No</th>
            <th nzWidth="20%">Name</th>
            <th nzWidth="20%">Process path</th>
            <th nzWidth="20%">Description</th>
            <th nzWidth="20%">Create time</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let data of nzTable.data; let i=index">
            <td>{{ i + 1 }}</td>
            <td>{{ data.Name }}</td>
            <td>{{ data.ProcessPath }}</td>
            <td>{{ data.Description }}</td>
            <td>{{ data.CreateTime | date:'yyyy-MM-dd HH:mm:ss':'UTC' }}</td>
            <td>
                <button (click)="editWorkItem(data.id)" nz-button nzSize="small">Edit</button>
                <nz-divider nzType="vertical"></nz-divider>
                <button (nzOnConfirm)="deleteWorkItem(data.id)" nz-button nz-popconfirm
                        nzPopconfirmTitle="Sure to delete?"
                        nzSize="small">Del
                </button>
            </td>
        </tr>

        </tbody>

    </nz-table>
</div>


<!-- Create Modal -->
<nz-modal (nzOnCancel)="handleCancel()" [(nzVisible)]="isCreateModalVisible" nzTitle="Create Work Item">
    <div *nzModalContent>

        <form [formGroup]="createForm" nz-form>
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="name" nzRequired>Name</nz-form-label>
                <nz-form-control nzErrorTip="Please input name!">
                    <input #nameInput formControlName="Name" id="name" nz-input/>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="ProcessPath" nzRequired>Process path</nz-form-label>
                <nz-form-control nzErrorTip="Please input process path!">
                    <input formControlName="ProcessPath" id="ProcessPath" nz-input/>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="Description">Description</nz-form-label>
                <nz-form-control>
                    <input formControlName="Description" id="Description" nz-input/>
                </nz-form-control>
            </nz-form-item>
        </form>
        <span *ngIf="updateMode" class="warning-message">{{ warningMessage }}</span>
    </div>
    <div *nzModalFooter>
        <button (click)="handleCancel()" nz-button nzType="default">Cancel</button>
        <button (click)="handleOk()" nz-button nzType="primary">Ok</button>
    </div>
</nz-modal>


