<div class="container">

  <nz-card [nzExtra]="extraTemplate" nzSize="small" nzTitle="Create Workflow">
    <form [formGroup]="workflowStepForm" nz-form>
      <nz-form-item>
        <nz-form-label nzFor="workflowName">Workflow Name</nz-form-label>
        <nz-form-control>
          <input #workflowNameInput formControlName="workflowName" id="workflowName" nz-input/>
        </nz-form-control>
      </nz-form-item>

      <nz-form-item>
        <nz-form-label nzFor="name" nzRequired>Name</nz-form-label>
        <nz-form-control nzErrorTip="Please input name!">
          <input #nameInput formControlName="name" id="name" nz-input/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzFor="processPath" nzRequired>Process path</nz-form-label>
        <nz-form-control nzErrorTip="Please input process path!">
          <input formControlName="processPath" id="processPath" nz-input/>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-label nzFor="description">Description</nz-form-label>
        <nz-form-control>
          <input formControlName="description" id="description" nz-input/>
        </nz-form-control>
      </nz-form-item>
    </form>
  </nz-card>
  <ng-template #extraTemplate>
    <div>
      <!-- Add button -->
      <button (click)="addWorkflowStep()" nz-button>{{ buttonText }}</button>
      <!-- Delete button -->
      <button (click)="removeWorkflowStep()" [disabled]="disableDelButton" nz-button>Del-</button>
      <!-- Submit button -->
      <button (click)="onSubmit()" nz-button nzType="primary">Submit</button>

    </div>
  </ng-template>
  <div class="add-gap"></div>

  <nz-card nzSize="small" nzTitle="Preview">
    <nz-steps (nzIndexChange)="onIndexChange($event)" [nzCurrent]="index" nzDirection="vertical"
              nzSize="small">

      <nz-step *ngFor="let step of workflowSteps;"
               nzDescription="{{step.processPath + ' ' + step.description}}"
               nzTitle="{{step.name}}"></nz-step>

    </nz-steps>
  </nz-card>

</div>
