.container {
  overflow: auto;
  max-height: 30vh;
}

.step-item {
  border: 1px #001529;
  border-radius: 5px;
  background: #eeeeee;
  padding: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

button {
  margin-left: 10px;
}
