<div class="command-panel">
  <div>Workflow Design</div>
  <button (click)="showModal()" nz-button nzType="primary">Add+</button>
</div>
<div class="container">
  <nz-table #nzTable [nzData]="workflows" nzBordered nzSize="small" nzTableLayout="fixed">
    <thead>
    <tr>
      <th nzWidth="60px"></th>
      <th nzWidth="50%">Name</th>
      <th nzWidth="30%">Create time</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let data of nzTable.data; let i=index">
      <tr>
        <td (nzExpandChange)="onExpandChange(data.id, $event)"
            [nzExpand]="expandSet.has(data.id)"></td>
        <td>{{ data.WorkflowName }}</td>
        <td>{{ data.CreateTime | date:'yyyy-MM-dd HH:mm:ss':'UTC' }}</td>
        <td>
          <button nz-button>View</button>
          <nz-divider nzType="vertical"></nz-divider>
          <button (click)="editWorkflow(data.id)" nz-button>Edit</button>
          <nz-divider nzType="vertical"></nz-divider>
          <button class="button-warning" nz-button>Delete</button>
        </td>
      </tr>
      <tr [nzExpand]="expandSet.has(data.id)">
        <td colspan="3">
          <ng-container [ngTemplateOutletContext]="{ $implicit: data }"
                        [ngTemplateOutlet]="dataTemplate"></ng-container>

        </td>
      </tr>

      <ng-template #dataTemplate let-data>
        <nz-card style="margin: 10px;">
          <nz-steps nzDirection="vertical" nzSize="small">
            <nz-step *ngFor="let step of data.WorkflowSteps ;"
                     nzDescription="{{step.processPath + ' ' + step.description}}"
                     nzTitle="{{step.name}}"></nz-step>
          </nz-steps>
        </nz-card>
      </ng-template>
    </ng-container>
    </tbody>

  </nz-table>
</div>



