<form [formGroup]="workflowForm" [nzLayout]="'inline'" nz-form>

  <nz-form-control>
    <label>
      Name:
      <input formControlName="name" nz-input type="text">
    </label>
  </nz-form-control>

  <nz-form-control>
    <label>
      Process Path:
      <input formControlName="processPath" nz-input type="text">
    </label>
  </nz-form-control>

  <nz-form-control>
    <label>
      Description:
      <input formControlName="description" nz-input type="text">
    </label>
  </nz-form-control>


</form>

