.list-group {
    margin-bottom: 20px;
    padding: 5px;
}

.list-group .list-group-item {
    padding: 0 16px;
    border-radius: 4px;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.list-group > li {
    height: 40px;
    border: 1px solid #dcdcdc;
    margin-bottom: 5px;
    line-height: 1.5;
    background-color: #eeeeee;
    display: flex;
    align-items: center;
}

.drag-handle {
    cursor: move;

    /* fallback if grab cursor is unsupported */
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}