<nz-table #basicTable [nzData]="jobs" nzBordered >
  <thead>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Datacenters</th>
    <th>NodePool</th>
    <th>Type</th>
    <th>Priority</th>
    <th>Periodic</th>
    <th>ParameterizedJob</th>
    <th>Stop</th>
    <th>Status</th>
    <th>StatusDescription</th>
    <th>SubmitTime</th>
    <th>Meta</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let job of jobs">
    <td>{{job.ID}}</td>
    <td>{{job.Name}}</td>
    <td>{{job.Datacenters}}</td>
    <td>{{job.NodePool}}</td>
    <td>{{job.Type}}</td>
    <td>{{job.Priority}}</td>
    <td>{{job.Periodic}}</td>
    <td>{{job.ParameterizedJob}}</td>
    <td>{{job.Stop}}</td>
    <td>{{job.Status}}</td>
    <td>{{job.StatusDescription}}</td>
    <td>{{job.SubmitTime}}</td>
    <td>{{job.Meta}}</td>
  </tr>
  </tbody>
</nz-table>
